<div class="row mb-5">
  <div
    class="col-md-4 col-lg-2 text-uppercase text-muted px-md-5 pt-2 mb-4 mb-md-0"
  >
    Latest Posts
  </div>
  <div class="col-md-8 pt-1">
    {% for singleBlogPostMeta in fiveBlogPostMeta %}
      <div class="mb-4">
        <a class="text-dark fs-5 fw-semibold link" href="/blog/{{singleBlogPostMeta.slug}}">
          {{singleBlogPostMeta.title | title}}
        </a>
        <p class="fw-light fs-18 mt-2">
          {{singleBlogPostMeta.description}}
        </p>
      </div>
    {% endfor %}
    <a class="fw-light text-dark text-decoration-none" href="/blog-posts">View All Posts → </a>
  </div>
</div>