<div class="row mb-5">
  <div class="col col-md-4 col-lg-2 text-center mb-2 mb-md-0">
    <img
      class=""
      src="public/asif.png"
      alt="Asif Ekbal"
      style="height: 150px; width: 150px"
    />
  </div>
  <div class="col-md-8 col-lg-10 pt-1 text-center text-md-start mb-3 mb-md-0">
    <h1 class="mb-0 fw-bold display-4">Ekbal Shagor</h1>
    <p class="text-muted">Front-End developer from Bangladesh.</p>
    <div class="d-flex gap-3 fw-bold mt-4 justify-content-center justify-content-md-start" style="font-size: 12px">
      <a
        href="https://github.com/Ekbal41"
        class="text-decoration-none text-uppercase text-muted"
        >Github</a
      >
      <a
        href="https://www.twitter.com/Ekbal41/"
        class="text-decoration-none text-uppercase text-muted"
        >Twitter</a
      >
      <a
        href="https://www.facebook.com/Ekbal41/"
        class="text-decoration-none text-uppercase text-muted"
        >Facebook</a
      >
    </div>
  </div>
</div>
