<div class="row mb-5">
  <div class="col-2  text-uppercase text-muted px-5 pt-2">Projects</div>
  <div class="col-10 pt-1">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic aut numquam
    modi necessitatibus quod praesentium, dolorem eos? Temporibus sint ipsa sunt
    illum natus id omnis labore quibusdam quam perferendis suscipit explicabo
    delectus reprehenderit a cum quos fugiat minus rem voluptatem, eveniet
    totam. Quia, non saepe enim vitae dolor iste. Numquam, nihil aliquam.
    Voluptates nisi possimus blanditiis nulla iure aliquid dignissimos dolore
    totam in reprehenderit? Harum cupiditate odit eius dicta, impedit,
    temporibus ipsum cum quas facilis ex rem aperiam quos mollitia esse ratione
    neque fuga id numquam consequatur. Cumque sed tempore iure illum ipsum
    magnam tempora qui. Odio reiciendis atque veritatis!
  </div>
</div>
