<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://live.prismjs.com/prism-live.css" />
    <link rel="stylesheet" href="public/prism/prism.css" />
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <link rel="stylesheet" href="public/prism/prism.js" />
    <script src="https://live.prismjs.com/src/prism-live.js?load=html,markdown"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>Normal HTML Heading</h1>
    <md-block>
 ```javascript
  console.log('Hello World'); 
 ```
    </md-block>
  </body>
</html>
