{% extends "layout.njk" %}

{% block title %}
    {# page title gose here #}
Dummy Page
{% endblock %}

{% block links %}
    {# all links gose here #}
{% endblock %}

{% block content %}
    <h1>Home</h1>
{% endblock %}

{% block scripts %}
    {# all scripts goes here #}
{% endblock %}