{% extends "layout.njk" %}
{% block title %} Asif Ekbal | Front End Developer {% endblock %}
{% block content %}
    {% include "partials/header.njk" %}
    {% include "partials/about.njk" %}
    {% include "partials/projects.njk" %}
    {% include "partials/skills.njk" %}
{% endblock %}