{% extends "layout.njk" %}
{% block title %} Asif Ekbal | Front End Developer {% endblock %}
{% block content %}
    {% include "partials/header.njk" %}

    {% set about = about %}
    {% include "partials/about.njk" %}

    {% set projects = projects %}
    {% include "partials/projects.njk" %}

    {% set fiveBlogPostMeta = firstFiveBlogPostMeta %}
    {% include "partials/blog-posts.njk"%}

    {% set skills = skills %}
    {% include "partials/skills.njk" %}
{% endblock %}